.btn{
  display: inline-block;
  padding: 30px 0;
  min-width: 497px;
  background-color: $color-add;
  font-family: inherit;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  font-size: 42px;
  line-height: 57px;


  @media (max-width: $df-mobile) {
    padding: 20px 0;
    font-size: 24px;
    line-height: 33px;
  }
}

.promo-btn{
  margin: 100px 0 214px 0;

  @media (max-width: $df-mobile) {
    margin: 80px 0 100px 0;
    min-width: 250px;
  }
}

.portfolio-btn{
  margin: 120px 0 130px 0;

  @media (max-width: $df-mobile) {
    margin: 60px 0 90px 0;
    min-width: 250px;
  }
}

.form-btn{
  min-width: 412px;
  margin-top: 27px;
  font-size: 28px;
  line-height: 34px;

  @media (max-width: $df-mobile) {
    min-width: 104px;
    width: 100%;
  }
}
