.btn{
  display: inline-block;
  background-color: $color-add;
  font-family: inherit;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  border: none;
}

.promo-btn{
  margin: 100px 0 214px 0;
  @include button;
}

.portfolio-btn{
  margin: 120px 0 130px 0;
  @include button;
}
