.catalog-portfolio {
  padding: 130px 0;
  text-align: center;
}

.catalog-portfolio-inner {
  @include container;
}

.catalog-portfolio-title {
  @include title-h2;
  margin-bottom: 77px;
}

.catalog-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
  margin-top: 40px;
}

.catalog-portfolio-item {
  flex-basis: 25%;
}

.catalog-portfolio-item-wrap {
  position: relative;
  padding-top: 100%;
}

.catalog-portfolio-item-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.catalog-portfolio-item-bg {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-portfolio-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  margin: 0;
  font-size: 24px;
  line-height: 33px;
}

.filter{
  list-style: none;
  display: flex;
  justify-content: center;
}

.filter-item{
  margin-left: 50px;
}

.filter-link{
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &.active{
    color: $color-add;
  }
}

