.portfolio-inner{
  @include container;
}

.portfolio-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-title{
  padding-top: $indent-gap;
  padding-bottom: 97px;
  @include title-h2;

  @media (max-width: $df-mobile) {
    padding-top: $indent-gap-mob;
    padding-bottom: 60px;
    @include title-h2-mob;
  }
}

.portfolio-media-wrap{
  padding-bottom: 120px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  @media (max-width: $df-mobile) {
    padding-bottom: 0px;
    display: block;
  }
}

.portfolio-media{
  position: relative;
  margin-right: 15px;

@media (max-width: $df-mobile) {
  margin: 20px 0;
}

  img{
    object-fit: cover;
  }
}

.portfolio-item{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}




