.portfolio {
  padding: 130px 0;
  text-align: center;
}

.portfolio-inner{
  @include container;
}

.portfolio-title{
  padding-bottom: 97px;
  @include title-h2;

  @media (max-width: $df-mobile) {
    padding-top: $indent-gap-mob;
    padding-bottom: 60px;
  }
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $df-mobile) {
   flex-direction: column;
  }
}

.portfolio-item {
  flex-basis: 25%;
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
  margin: 10px 10px;

  img{
    width: 100%;
    display: block;
  }
}

.portfolio-item-text{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.portfolio-new:before{
  position: absolute;
  top: 25px;
  left: -30px;
  display: inline-block;
  padding: 5px 60px;
  color: #fff;
  transform: rotate(-45deg);
  content: 'new';
  background-color: $color-add;
}

.filter{
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.filter-item{
  margin-left: 50px;
}

.filter-link{
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &.active{
    color: $color-add;
  }
}
