@mixin container($width: 1278px) {
  max-width: $width;
  margin: 0 auto;
}

@mixin title-h2 {
  margin: 0;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}

@mixin title-h2-mob {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 49px;
  text-align: center;
}

