//Fonts
$font: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;

//Colors
$color-main: #333333;
$color-add: #FF2D2D;

//indents
$indent-gap: 130px;
$indent-gap-mob: 90px;

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$df-tablet: $desktop - 1;
$df-mobile: $tablet - 1;
